/vendor/
/node_modules/
.env
.env.*
!.env.example
/public/build/
/public/hot
/bootstrap/cache/*
/storage/*.key
/database/*.sqlite*
/.phpunit.cache/
/.phpunit.result.cache
!/bootstrap/cache/.gitignore
